@import "./reset.css";
@import "./variables.css";

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

a {
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--hover-color);
    transition: color 0.3s ease;
  }
}

button {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
