.input-container {
  display: flex;
  margin-top: 0.25rem;
  flex-direction: column;
  width: 100%;

  input {
    display: block;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: #f9fafb;
    padding-right: 2rem;
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: #2563eb;
    }

    &::placeholder {
      color: #6b7280;
    }
  }
}
